services:
  - type: web
    name: sistema-ventas-online
    env: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: LOG_CHANNEL
        value: stderr
      - key: SESSION_DRIVER
        value: database
      - key: CACHE_STORE
        value: database
      - key: QUEUE_CONNECTION
        value: database
      - key: FILESYSTEaM_DISK
        value: public

databases:
  - name: sistema-ventas-db
    databaseName: ventas
    user: ventas